html { 
  font-size: 62.5%; /* 1rem = 10px */
} 


body {
    height: 100%;
    background-color: #dad9d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.4rem; /* 24px */
    font-weight: 300;
    margin: 10px;
}

#md-container {
  line-height: 30px;
  margin-bottom: 100px;
}

img {
  width: 100%;
}

ul {
  line-height: 30px;
}

.art-link {
  font-size: 2.2rem;
}

.art-link:hover {
    /* background-color: #dad9d4; */
    background-color: #000;
    color: #dad9d4;
    border-radius: 5px;
    padding: 2px 8px;
    text-decoration: none;
}

a {
  /* text-decoration: none; */
  color: #191a21;
  /* text-decoration-color: #639ef3; */
}

h1 {
  color: coral;
  font-size: 3.4rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.4rem;
}


@media (min-width: 800px) {
  #md-container {
      margin-left: 20%;
      margin-right: 20%;
  }
}
